#myCarousel 
{
	height: 250px;
    width: 100%;
    background-color: red;
    float: left;
    overflow: hidden;
    margin: 0;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img 
{
	width: 100%;
	display: block;
	padding: 0 !important;
	margin: -125px auto !important;
}

.item.active
{
	padding-left: 1em;
}
html 
{ 
	height: 100%; 
}

body 
{ 
	min-height: 100%;
	background: #BA0202 !important;
}

h2
{ 
	padding-left: 1em !important;
	color: black !important;
	font-size: 1.1em !important;
	font-weight: bold;
	margin-top: 5px !important;
}

h3
{
	text-align: center;
	text-decoration: underline;
	margin: 2px !important;
}

body, html, .row, .container-fluid, 
.col-md-12, .col-md-8, .col-md-4
{
	margin-right: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding: 0 !important;
}

#myCarousel
{
	min-height: 50%;
}

.announcements 
{
	background: rgba(179,220,237,1);
	background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
	background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
	/*background-color: #BA0202;*/
	color: black;
	min-height: 150px;
	font-size: 2em;
	padding: 0.8em;
	border-bottom: 0.15em solid black;
	border-top: 0.15em solid black;
	background-color: #BA0202;
	padding-left: 1em;
}



.center
{
	margin: 5px auto !important;
	width: 85% !important;
	min-height: 10%;
	border: 0 !important;
}

.scorecard
{
	border-top: 0.15em solid black;
	background-color: black;
	color: white;
	padding-left: 1em;
	padding-top: 1em !important;
	min-height: 40% !important;
	font-size: 1.1em !important;
}

.footer
{
	
	background-color: #E9E9E9;
	text-align: center;
	font-size: 10px;
	border-top: 3px solid #A7ABAC;
	padding-top: 2px !important;
	height: 25px !important;
	width: 100%;
	z-index: 100 !important;
	position: fixed;
	bottom: 0;
	clear: both;
}

.red
{
	font-weight: bold;
	text-decoration: underline;
	color: red;
}

.green
{
	font-weight: bold;
	color: lawngreen;
}

.logo
{
	margin: 0 auto;
	width: 50%;
	text-align: center;
	display: block;
	padding-top: 1em;
}

.right-time, .left-date
{
	font-weight: bold;
	font-size: 2.5em;
	border-bottom: 0.1em solid black;
	margin-bottom: 0.5em;
}

.right-time
{
	padding-right: 2.75em !important;
	text-align: right;
}

.left-date
{ 
	padding-left: 2.75em !important;
}

.white-bg
{
	background: white !important;
}



/* twitter feed styles */
.twitter-feed .tweet ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: #76949F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.twitter-feed {
	width: 100%;
	color:black;
	font-size: 1.2em;
	padding: 2%;
	margin: 1% auto;
	background: white;
	
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
}

.twitter-feed .tweet {
	overflow: hidden;
	padding: 0 0 5px 0;
}

.twitter-feed ul {
	width: 99999px;
	height: 20%;
}

.twitter-feed ul li {
	width: 250px;
	float: left;
	border-right: 1px solid #eee;
	padding: 0 10px 0 0;
	margin: 0 10px 0 0;
}

/* carousel positioning fix */
.col-md-8, .carousel-control, .carousel-inner > .item
{
	margin: 0 !important;
	padding: 0;
}

.col-lg-6
{
	min-height: 175px !important;
	margin-bottom: 5px !important;
}