.carousel-inner > .item > img,
.carousel-inner > .item > a > img 
{
	width: 60%;
	margin: auto;
}

html 
{ 
	height: 100%; 
}

body 
{ 
	min-height: 100%;
	background: #BA0202 !important;
}

h2 
{ 
	padding-left: 1em;
	color: GhostWhite !important;
	font-size: 1.75em !important;
}

body, html, .row, .container-fluid, 
.col-md-12, .col-md-8, .col-md-4
{
	margin-right: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding: 0 !important;
}

#myCarousel
{
	min-height: 50%;
}

.announcements, .twitter
{
	border-top: 0.15em solid black;
	background-color: #BA0202;
	color: white;
	padding-left: 1em;
}

.announcements 
{
	background-color: #BA0202;
	color: white;
	min-height: 12%;
	padding: 0.8em;
}

.twitter
{
	min-height: 25%;
}

.scorecard
{
	border-top: 0.15em solid black;
	background-color: black;
	color: white;
	padding-left: 1em;
	padding-top: 1em !important;
	min-height: 25% !important;
}

.footer
{
	background-color: #E9E9E9;
	text-align: center;
	font-size: 0.75em;
	border-top: 0.35em solid #A7ABAC;
	margin-top: -1em !important;
	padding-top: 0.75em !important;
	z-index: 1000 !important;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.red
{
	font-weight: bold;
	text-decoration: underline;
	color: red;
}

.green
{
	font-weight: bold;
	color: green;
}

.logo
{
	margin: 0 auto;
	width: 50%;
	text-align: center;
	display: block;
	padding-top: 1em;
}

.right-time, .left-date
{
	font-weight: bold;
	font-size: 2.5em;
	border-bottom: 0.1em solid black;
	margin-bottom: 0.5em;
}

.right-time
{
	padding-right: 2.75em !important;
	text-align: right;
}

.left-date
{ 
	padding-left: 2.75em !important;
}

.fix
{
	background: white !important;
}
